Repository jaoafa/offkai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write", "git add"],
  "*.{jsx,tsx}": [
    "eslint --fix",
    "stylelint --fix",
    "prettier --write",
    "git add"
  ],
  "*.json": ["prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write", "git add"]
}

build: routerを追加
  package-lock.json
  package.json
  src/App.tsx
  src/pages/404.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

ci: コミット時のworkflowを追加
  .github/workflows/ci.yml
Due: none

fix: package.jsonにlintコマンドを追加し忘れていた問題を修正
  package.json
Due: prettier --write

chore: レイアウトのコンポーネントを追加
  src/App.tsx
  src/layouts/default.tsx
  src/main.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: 中央寄せするコンポーネントを追加
  package-lock.json
  package.json
  src/components/LCenter/index.tsx
  src/components/index.ts
  src/layouts/default.tsx
  src/utils/colors.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 積み重ねするコンポーネントを追加
  src/components/LStack/index.tsx
  src/components/index.ts
  src/layouts/default.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Update dependency vite to v2.8.6
  package-lock.json
  package.json
Due: prettier --write

build: 依存関係を更新
  package-lock.json
  package.json
Due: prettier --write

feat: pxをremに変換する関数を追加
  src/utils/sizes.ts
Due: eslint --fix, prettier --write

feat: クラスターのコンポーネントを追加
  index.html
  src/components/AppHeader/index.tsx
  src/components/LCluster/index.tsx
  src/components/index.ts
  src/layouts/default.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: csstypeをreactのcsspropertiesを使うよう変更
  package-lock.json
  package.json
  src/components/AppHeader/index.tsx
  src/components/LCenter/index.tsx
  src/components/LCluster/index.tsx
  src/components/LStack/index.tsx
  src/layouts/default.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: レイアウトコンポーネントのhtmlタグを指定するpropsを追加
  src/components/LCenter/index.tsx
  src/components/LCluster/index.tsx
  src/components/LStack/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: アイコンのレイアウトコンポーネントを追加
  package-lock.json
  package.json
  src/components/AppHeader/index.tsx
  src/components/LIcon/index.tsx
  src/components/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: ユーザページのルーティングを追加
  src/App.tsx
  src/pages/users/[id].tsx
  src/pages/users/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: faviconを変更
  src/favicon.svg
Due: none

feat: 中央寄せコンポーネントでテキストの中央寄せを指定するpropsを追加
  src/components/LCenter/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: アイコンと名前と所在地表示を追加
  src/layouts/default.tsx
  src/pages/users/[id].tsx
Due: eslint --fix, prettier --write, stylelint --fix

Update dependency @types/react-dom to v17.0.13
  package-lock.json
  package.json
Due: prettier --write

Update dependency eslint-plugin-react to v7.29.3
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v12.3.5
  package-lock.json
  package.json
Due: prettier --write

Update dependency typescript to v4.6.2
  package-lock.json
  package.json
Due: prettier --write

build: typescript関連のパッケージを更新
  package-lock.json
  package.json
Due: prettier --write

Update dependency @types/react to v17.0.40
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @commitlint/cli to v16.2.3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency simple-icons to v6.23.0
  package-lock.json
  package.json
Due: prettier --write
